*{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant SC', serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/bwbackground.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space_between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    color: #fff;
    
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #fff;
    background: rgba(227,227,227,0.3);
    transition: 1s;
}

nav ion-icon{
    display: none;
}

@media(max-width: 700px){
    .textbox h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/plain.png);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav ion-icon{
        display: block;
        color: #fff;
        margin: 10px;
        margin-top: 15px;
        font-size: 24px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav img{
        display: none;
    }
}




.conference{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(webimages/whitemarble.png);
    text-align: center;
    padding-top: 50px;
}
h1{
    color: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/bwbackground.jpg);
    font-size: 36px;
    font-weight: 600;
}
h3{
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
h4{
    font-size: 20px;
    color: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/bwbackground.jpg);
}
p{
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/plain.png);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 50px 30px;
    box-sizing: border-box;
    transition: 0.5s;
}

.registertwo{
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.registertwo:hover{
    border: 1px solid #fff;
    background: rgba(227,227,227,0.3);
    transition: 1s;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    .conference{
        padding-top: 50px;
    }
    .conference p{
        font-size: 17px;
    }
}

.mvv{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/plain.png);
    text-align: center;
    padding-top: 50px;
}
.mvv h3{
    color: black;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.mvv p{
    color: black;
    font-size: 19px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.mvv-row{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
}
.mvv-col{
    flex-basis: 47%;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(webimages/whitemarble.png);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

@media(max-width: 700px){
    .mvv{
        padding-top: 20px;
    }
    .mvv-row{
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
    }
}

.information{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(webimages/whitemarble.png);
    text-align: center;
    padding-top: 50px;
}
.information h1{
    color: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(webimages/bwbackground.jpg);
}
.information h4{
    color: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(webimages/bwbackground.jpg);
}
.information p{
    color: #fff;
}
.information-col{
    flex-basis: 19%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: 1px linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(webimages/whitemarble.png);
}
.information-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(0,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


@media(max-width: 700px){
    .information{
        padding-top: 20px;
    }
    .information-col{
        flex-direction: column;
    }
    .layer:hover h3{
        display: none;
    }
}

.footer{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/plain.png);
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding: 30px 0;
}

.footer h4{
    color: #fff;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 600;
}

.registertwo{
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.registertwo:hover{
    border: 1px solid #fff;
    background: rgba(227,227,227,0.3);
    transition: 1s;
}

.cflink{
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 80px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.cflink:hover{
    border: 1px solid #fff;
    background: rgba(227,227,227,0.3);
    transition: 1s;
}
.footer p{
    font-size: 13px;
}
.icons{
    color: #fff;
}
.social-icon{
    color: #fff;
}

@media(max-width: 700px){
    .footer{
        padding-top: 20px;
        flex-direction: column;
    }
}

.sub-header{
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/bwbackground.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}

.about-us{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(webimages/whitemarble.png);
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    color: black;
    padding: 15px 0 25px;
    font-size: 25px;
    line-height: 2.0
}

@media (max-width: 700px){
    .sub-header h1{
        margin-top: 220px;
    }
    .about-col{
        text-align: center;
        margin: 0px;
    }
    .about-col p{
        font-size: 18px;
    }
}
.dsbutton{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 20px 238px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.dsbutton:hover{
    border: 1px solid black;
    background: rgba(0,0,0,0.3);
    transition: 1s;
}
.srbutton{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 20px 250px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.srbutton:hover{
    border: 1px solid black;
    background: rgba(0,0,0,0.3);
    transition: 1s;
}

.hero-btnblack{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btnblack:hover{
    border: 1px solid black;
    background: rgba(0,0,0,0.3);
    transition: 1s;
}
@media (max-width: 700px){
    .srbutton{
        display: inline-block;
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 12px 90px;
        font-size: 15px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    .dsbutton{
        display: inline-block;
        text-decoration: none;
        color: black;
        border: 1px solid black;
        padding: 12px 80px;
        font-size: 15px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
}

.location{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(webimages/whitemarble.png);
    width: 100%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(webimages/whitemarble.png);
    width: 100%;
    margin: auto;
    color: black;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    margin-top: 100px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.cicons{
    font-size: 28px;
    color: black;
    margin: 10px;
    margin-right: 30px;
}
.contact-col h5{
    font-size: 15px;
    margin-bottom: 5px;
    color: black;
    font-weight: 400;
}
.contact-box input, .contact-box textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none; 
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.contact-box{
    border: 1px solid black;
    margin: 50px 0;
    padding: 10px 20px;
}
.contact-box h3{
    text-align: left;
    color: black;
}
.email-form input, .email-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}

.secretariat{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(webimages/whitemarble.png);
    text-align: center;
    padding-top: 50px;
}
.secretariat h1{
    color: black;
    font-size: 36px;
    font-weight: 600;
}
.secretariat h3{
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}
.secretariat h4{
    color: black;
}
.secretariat h5{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.sec-row{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
.sec-col{
    flex-basis: 19%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/plain.png);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 40px 24px;
    box-sizing: border-box;
    transition: 0.5s;
}
.sec-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
}
.secgencos h3{
    font-size: 28px;
}
.secgencos-col{
    flex-basis: 31%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/plain.png);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 40px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.secgencos-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
}
.secgeneral h3{
    font-size: 35px;
}
.secgeneral-row{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
.secgeneral-col{
    flex-basis: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/plain.png);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 40px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.secgeneral-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
}

@media(max-width: 700px){
    .sec-row{
        flex-direction: column;
    }
    .secretariat h4{
        margin-left: 30px;
        margin-right: 30px;
    }
}

.unhsp-row{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}

.unhsp-col{
    flex-basis: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/plain.png);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 40px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.unhsp-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
}

@media(max-width: 700px){
    .unhsp-row{
        flex-direction: column;
    }
    .unhsp-col h3{
        font-size: 23px;
    }
}

.secgencos-col2{
    flex-basis: 19%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(webimages/plain.png);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 40px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.secgencos-col2:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,1);
}

@media (max-width: 700px){
    .sub-header h1{
        font-size: 30px;
    }
}